name: Compile

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  BuildCaches:
    name: Build Caches ${{ matrix.name }}
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            setupScript: sh ./setup/unix.sh
            CACHE_NAME: H-Slice.desktop-cache
          - name: Mobile
            os: macos-latest
            setupScript: sh ./setup/mobile.sh
            CACHE_NAME: H-Slice.mobile-cache
    uses: ./.github/workflows/dependencies.yml
    with:
      os: ${{ matrix.os }}
      CACHE_NAME: ${{ matrix.CACHE_NAME }}
      setupScript: ${{ matrix.setupScript }}

  BuildDesktop:
    name: Build Desktop ${{ matrix.name }}
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Windows
            runsOn: windows-2022
            buildArgs: windows
            exportPath: windows
            artifactName: H-Slice.0.2.3.windows
            artifactPath: export/release/windows/bin/*
            cachePath: H-Slice.build-windows
            cacheLibrariesPath: H-Slice.desktop-cache
          - name: Linux
            runsOn: ubuntu-22.04
            buildArgs: linux
            exportPath: linux
            artifactName: H-Slice.0.2.3.linux
            artifactPath: export/release/linux/bin/*
            cachePath: H-Slice.build-linux
            cacheLibrariesPath: H-Slice.desktop-cache
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@v3
      - name: Debug Info
        run: echo "Building Desktop ${{ matrix.name }} on ${{ runner.os }}"
      - name: Build
        uses: ./.github/workflows/build.yml
        with:
          name: ${{ matrix.name }}
          os: ${{ matrix.runsOn }}
          buildArgs: ${{ matrix.buildArgs }}
          exportPath: ${{ matrix.exportPath }}
          artifactName: ${{ matrix.artifactName }}
          artifactPath: ${{ matrix.artifactPath }}
          cachePath: ${{ matrix.cachePath }}
          cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}

  BuildMobile:
    name: Build Mobile ${{ matrix.name }}
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Android
            runsOn: macos-latest
            buildArgs: android
            exportPath: android
            artifactName: H-Slice.0.2.3.android
            artifactPath: export/release/android/bin/app/build/outputs/apk/release/*.apk
            cachePath: H-Slice.build-android
            cacheLibrariesPath: H-Slice.mobile-cache
          - name: iOS
            runsOn: macos-latest
            buildArgs: ios -nosign
            exportPath: ios
            artifactName: H-Slice.0.2.3.ios
            artifactPath: export/release/ios/build/Release-iphoneos/*.ipa
            cachePath: H-Slice.build-ios
            cacheLibrariesPath: H-Slice.mobile-cache
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@v3
      - name: Debug Info
        run: echo "Building Mobile ${{ matrix.name }} on ${{ runner.os }}"
      - name: Build
        uses: ./.github/workflows/build.yml
        with:
          name: ${{ matrix.name }}
          os: ${{ matrix.runsOn }}
          buildArgs: ${{ matrix.buildArgs }}
          exportPath: ${{ matrix.exportPath }}
          artifactName: ${{ matrix.artifactName }}
          artifactPath: ${{ matrix.artifactPath }}
          cachePath: ${{ matrix.cachePath }}
          cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}
        secrets: inherit
