name: Compile

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  BuildCaches:
    name: Build Caches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            setupScript: sh ./setup/unix.sh
            CACHE_NAME: H-Slice.desktop-cache

          - name: Mobile
            os: macos-latest
            setupScript: sh ./setup/mobile.sh
            CACHE_NAME: H-Slice.mobile-cache
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Debug matrix
        run: echo "Building caches for ${{ matrix.name }} on ${{ matrix.os }}"
      - name: Run setup script
        run: ${{ matrix.setupScript }}
      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.CACHE_NAME }}
          key: ${{ matrix.CACHE_NAME }}-${{ runner.os }}-${{ hashFiles('**/*') }}
      - name: Save cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.CACHE_NAME }}
          key: ${{ matrix.CACHE_NAME }}-${{ runner.os }}-${{ hashFiles('**/*') }}

  BuildDesktop:
    name: Build Desktop
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Windows
            os: windows-2022
            buildArgs: windows
            exportPath: windows
            artifactName: H-Slice.0.2.3.windows
            artifactPath: export\release\windows\bin\*
            cachePath: H-Slice.build-windows
            cacheLibrariesPath: H-Slice.desktop-cache
          - name: Linux
            os: ubuntu-22.04
            buildArgs: linux
            exportPath: linux
            artifactName: H-Slice.0.2.3.linux
            artifactPath: export/release/linux/bin/*
            cachePath: H-Slice.build-linux
            cacheLibrariesPath: H-Slice.desktop-cache
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Debug
        run: echo "Building ${{ matrix.name }} on ${{ runner.os }}"
      - name: Build Desktop
        uses: ./.github/workflows/build.yml
        with:
          name: ${{ matrix.name }}
          os: ${{ matrix.os }}
          buildArgs: ${{ matrix.buildArgs }}
          exportPath: ${{ matrix.exportPath }}
          artifactName: ${{ matrix.artifactName }}
          artifactPath: ${{ matrix.artifactPath }}
          cachePath: ${{ matrix.cachePath }}
          cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}

  BuildMobile:
    name: Build Mobile
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Android
            os: macos-15
            buildArgs: android
            exportPath: android
            artifactName: H-Slice.0.2.3.android
            artifactPath: export/release/android/bin/app/build/outputs/apk/release/*.apk
            cachePath: H-Slice.build-android
            cacheLibrariesPath: H-Slice.mobile-cache
          - name: iOS
            os: macos-15
            buildArgs: ios -nosign
            exportPath: ios
            artifactName: H-Slice.0.2.3.ios
            artifactPath: export/release/ios/build/Release-iphoneos/*.ipa
            cachePath: H-Slice.build-ios
            cacheLibrariesPath: H-Slice.mobile-cache
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Debug
        run: echo "Building ${{ matrix.name }} on ${{ runner.os }}"
      - name: Build Mobile
        uses: ./.github/workflows/build.yml
        with:
          name: ${{ matrix.name }}
          os: ${{ matrix.os }}
          buildArgs: ${{ matrix.buildArgs }}
          exportPath: ${{ matrix.exportPath }}
          artifactName: ${{ matrix.artifactName }}
          artifactPath: ${{ matrix.artifactPath }}
          cachePath: ${{ matrix.cachePath }}
          cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}
