name: Build The Game

on:
  pull_request:
    branches: [master, developmentalist]
  push:
    branches: [developmentalist]
  workflow_dispatch:

jobs:

  # =======================
  # Build Caches
  # =======================
  BuildCaches:
    name: Build Caches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            setupScript: sh ./setup/unix.sh
            CACHE_BUILD: H-Slice.build-linux
            CACHE_LIBS: H-Slice.desktop-cache
          - name: Windows
            os: windows-2022
            setupScript: sh ./setup/windows.sh
            CACHE_BUILD: H-Slice.build-windows
            CACHE_LIBS: H-Slice.desktop-cache
          - name: Mobile
            os: macos-latest
            setupScript: sh ./setup/mobile.sh
            CACHE_BUILD: H-Slice.build-mobile
            CACHE_LIBS: H-Slice.mobile-cache

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup dependencies
        run: ${{ matrix.setupScript }}

      - name: Restore Build Cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.CACHE_BUILD }}
          key: ${{ runner.os }}-build-${{ hashFiles('**/*.hx') }}
          restore-keys: |
            ${{ runner.os }}-build-

      - name: Restore Libraries Cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.CACHE_LIBS }}
          key: ${{ runner.os }}-libs-${{ hashFiles('**/*.hx') }}
          restore-keys: |
            ${{ runner.os }}-libs-

      - name: Save Cache
        if: success()
        uses: actions/cache@v3
        with:
          path: |
            ${{ matrix.CACHE_BUILD }}
            ${{ matrix.CACHE_LIBS }}
          key: ${{ runner.os }}-full-${{ hashFiles('**/*.hx') }}

  # =======================
  # Build Desktop & Linux
  # =======================
  BuildDesktop:
    name: Build Desktop
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Windows
            os: windows-2022
            buildArgs: windows
            exportPath: windows
            artifactName: H-Slice.0.2.3.windows
            artifactPath: export\release\windows\bin\*
            cachePath: H-Slice.build-windows
            cacheLibrariesPath: H-Slice.desktop-cache
          - name: Linux
            os: ubuntu-22.04
            buildArgs: linux
            exportPath: linux
            artifactName: H-Slice.0.2.3.linux
            artifactPath: export/release/linux/bin/*
            cachePath: H-Slice.build-linux
            cacheLibrariesPath: H-Slice.desktop-cache

    uses: ./.github/workflows/build.yml
    with:
      name: ${{ matrix.name }}
      os: ${{ matrix.os }}
      buildArgs: ${{ matrix.buildArgs }}
      exportPath: ${{ matrix.exportPath }}
      artifactName: ${{ matrix.artifactName }}
      artifactPath: ${{ matrix.artifactPath }}
      cachePath: ${{ matrix.cachePath }}
      cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}

  # =======================
  # Build macOS
  # =======================
  BuildMacos:
    name: Build macOS
    needs: BuildCaches
    permissions: write-all
    uses: ./.github/workflows/mac-universal.yml
    with:
      exportPath: macos
      artifactName: H-Slice.0.2.3.macos
      artifactPath: export/release/macos/bin/*
      cachePath: H-Slice.build-macos
      cacheLibrariesPath: H-Slice.mobile-cache

  # =======================
  # Build Mobile (Android/iOS)
  # =======================
  BuildMobile:
    name: Build Mobile
    needs: BuildCaches
    permissions: write-all
    strategy:
      matrix:
        include:
          - name: Android
            os: macos-15
            buildArgs: android
            exportPath: android
            artifactName: H-Slice.0.2.3.android
            artifactPath: export/release/android/bin/app/build/outputs/apk/release/*.apk
            cachePath: H-Slice.build-android
            cacheLibrariesPath: H-Slice.mobile-cache
          - name: iOS
            os: macos-15
            buildArgs: ios -nosign
            exportPath: ios
            artifactName: H-Slice.0.2.3.ios
            artifactPath: export/release/ios/build/Release-iphoneos/*.ipa
            cachePath: H-Slice.build-ios
            cacheLibrariesPath: H-Slice.mobile-cache
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      name: ${{ matrix.name }}
      os: ${{ matrix.os }}
      buildArgs: ${{ matrix.buildArgs }}
      exportPath: ${{ matrix.exportPath }}
      artifactName: ${{ matrix.artifactName }}
      artifactPath: ${{ matrix.artifactPath }}
      cachePath: ${{ matrix.cachePath }}
      cacheLibrariesPath: ${{ matrix.cacheLibrariesPath }}
