name: Compile Windows Only

on:
  pull_request:
    branches: [master, developmentalist]
  push:
    branches: [developmentalist]
  workflow_dispatch:

jobs:
  BuildCaches:
    name: Build Desktop Cache
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Call dependencies workflow
        uses: ./.github/workflows/dependencies.yml
        with:
          os: ubuntu-latest
          CACHE_NAME: H-Slice.desktop-cache
          setupScript: sh ./setup/unix.sh

  BuildWindows:
    name: Build Windows
    needs: BuildCaches
    permissions: write-all
    runs-on: windows-2022
    steps:
      - name: Call Windows build workflow
        uses: ./.github/workflows/build.yml
        with:
          name: Windows
          os: windows-2022
          buildArgs: windows
          exportPath: windows
          artifactName: H-Slice.0.2.3.windows
          artifactPath: export/release/windows/bin/*
          cachePath: H-Slice.build-windows
          cacheLibrariesPath: H-Slice.desktop-cache
